<section id="home-slider">
  <!--slide -->
  <% Banner.background.each do |banner| %>
  <div class="item-slider" style="background: url('<%= banner.image.banner.url %>')">
    <div class="row">
      <div class="small-16 columns">
        <div class="ad-google-item">
	 <div class="video-container"><iframe width="100%" height="300" src="https://www.youtube.com/embed/GFvTbi2Jp_U" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>	          
        </div>
      </div>
    </div>
  </div>
  <% end %>
  <!--//slide -->
</section>  
