<%= render "share/slide" %>

<section id="main-content">

     <div class="row">
       <div class="small-16 columns">
         <h1><%= @about.title %></h1>
         <div class="big-sep"></div>
       </div>
     </div>

     <div class="row">
       <div class="small-16 columns">
         <p>
           <%=raw @about.description %>
         </p>
       </div>
     </div>


</section>
