
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div style="width:150px"><%= image_tag attachments['logo.png'].url %></div>
    <p>Olá, sou <b> <%= @name %></b></p>
    <p>
      Mensagem: <b><%= @message %></b><br>
      Email para resposta: <b> <%= @email %> </b>
    </p>


  </body>
</html>
