
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to example.com, natan</h1>
    <p>
      You have successfully signed up to example.com,
      your username is: natan.<br>
    </p>
  </body>
</html>
