
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div style="width:150px"><img src="http://localhost:3000/assets/logo-1bcb5fb07f8c4daac45d25178ed4221855a365619a3e620e0b218a5131342b9c.png"></div>
    <h3>Olá, Poderia ajudar o/a <%= @name %></h3>
    <p>
      Mensagem: <b><%= @message %></b>
      Email para resposta: <b> <%= @email %> </b>
    </p>


  </body>
</html>
