
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <p>Olá, sou <b> <%= @name %></b></p>
    <p>
      <b><%= @message %></b>
    </p>
      <br>
    <p>
      Responda para o email: <b> <%= @email %> </b>
    </p>

    <br><br>
    <div style="width:150px"><%= image_tag attachments['logo.png'].url %></div>
    <i style="font-size:10pt">Não nos responsabilizamos pelas negociações.
    <br>Equipe IoioCAPCOM </i>
    <br>


  </body>
</html>
